
@import url('style.css');
@import './variables.css';


body {
    color: var(--color-dark);
}

/**** Blogs and Sidebar ****/


.blog {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 5px;
    border-bottom: none;
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;  
   
}

img {
    border-radius: 5px;
}

.sidebar {
    display: block;
    margin-top: 2%;
}

.sidebar ul li {
    line-height: 3rem;
    list-style: none;
}

/**** Media Queries ****/
@media(max-width: 900px) {

   .article {
       display: grid;
       grid-template-rows: 1fr 1.1fr;
   }
    img {      
            height: 300px;
            width: 100%; /* for height see blog */
            /*height: 10vw; */
            object-fit: cover; /* crops the image */
    }
    .blog p {
        display: block;
    }

    .sidebar {
        margin-left: 2%;
        margin-bottom: 10%;
        text-align: center;
    }  
}

@media(min-width: 901px) {
    .article {
        display: grid;
        grid-template-columns: 1fr; 
    }  
    img {
        height: 550px;
    }
}

/**** Footer ****/
footer {
    position: fixed;
    bottom: 0;
    width:99%;
}