/**** Main colors defined as variables for the webpage ****/
/* :root {
    --color-light: #FFFDF2;
    --color-medium: #B1ABB4;
    --color-dark: #393418;
    --color-red: #CD1811;
} */

@import './variables.css';


/**** Basic definitions for the webpage ****/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    animation: 2s fadein;
    font-size: 62.5%; /* root is 10px = 1rem */
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 10px;
    background: var(--color-light);
}

.container {
    background: var(--color-light);
    display: grid;
    grid-template-columns: 1fr;
    
}

a {
    text-decoration: none;
}

/**** Header ****/
header {
    display: grid;
    text-transform: uppercase;
    background: var(--color-light);
    border-top: solid 1px var(--color-medium);
    border-bottom: solid 1px var(--color-medium);
}
header a {
    text-align: center;
}

header a:hover {
    transition: 0.5s;
    color: var(--color-red);
}

/**** Blogs and Sidebar ****/
section {
    display: grid;
}

.blog {
    display: flex;
    flex-direction: row;
    height: 100px;
    border-bottom: solid 1px var(--color-medium);
    padding: 5px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;  
}

img {
    border-radius: 5px;
}

.sidebar {
    margin-top: 2%;
}

.sidebar ul li {
    line-height: 3rem;
    list-style: none;
}
/**** Footer ****/
footer {
    background: black;
    color: var(--color-light);
    text-align: center;
}

.sidebar {
    text-align: center;
}

/**** Media Queries ****/
@media(max-width: 600px) {
    header {
        grid-template-columns: 1fr;
    }
   
    img {      
            height: auto;
            width: 40%; /* for height see blog */
            /*height: 10vw; */
            object-fit: cover; /* crops the image */
    }
    .blog p {
        display: none;
    } 
}

@media(min-width: 601px) and (max-width: 900px) {
    img {
        width: 40%;
        object-fit: cover; 
    }

    .blog {
        padding: 5px;
        font-size: 1.8rem;
        height: 150px;
    }

    header {
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media(min-width: 901px) {

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        
    }   
   
    .section {
        display: grid;
        grid-template-columns: 7fr 1fr
    }

    .article {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
      
    .blog {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 450px; 
        margin-bottom: 20px;
        border-bottom: solid 1px var(--color-medium); 
    }
    
    .blog-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-left: -2px;
    } 
    header {
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
    } 
   
}

@media(min-width: 1351px) {
    .article {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }   
}