/**** Main colors defined as variables for the webpage ****/
/* :root {
    --color-light: #FFFDF2;
    --color-medium: #B1ABB4;
    --color-dark: #393418;
    --color-red: #CD1811;
} */

@import './variables.css';


/**** Basic definitions for the webpage ****/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    animation: 2s fadein;
    font-size: 62.5%; /* root is 10px = 1rem */
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem; /* equals 10px */
    margin: 10px;
    background: var(--color-light);
}

.container {
    background: green;
    display: grid;
    grid-template-columns: 1fr;
    
}

/**** Header ****/
header {
    display: grid;
    text-transform: uppercase;
    background: lightgreen;
   
}
header a {
    text-decoration: none;
    text-align: center;
}

header a:hover {
    transition: 0.5s;
    color: var(--color-red);
}

/**** Blogs and Sidebar ****/

.section {
    display: grid;
}

.blog {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
}

/**** Footer ****/
footer {
    background: black;
    color: var(--color-light);
    text-align: center;
}
/**** Media Queries ****/
@media(max-width: 500px) {
    body {
        background: red;
    }

    header {
        grid-template-columns: 1fr;
    }

    
    img {
            /* width: 38%;
            height: auto; */
            width: 40%; /* for height see blog */
            /*height: 10vw; */
            object-fit: cover; /* crops the image */
            border-radius: 5px;

    }
    .blog p {
        display: none;
    } 
}

